/* section-footer  */
.fotter-section{
    height: 45vh;
    background-color: #1c1d21  ;  
    padding-top: 50px;
}
.fotter-section .fotter-logo{
    color: var(--color2);
    font-size: 35px;
}
.fotter-section .sectionfotter-content {
    width: 50%;
    height: 60%;
    margin: auto;
}
.fotter-section .sectionfotter-content .sectionfotter-content-items{
    width: 63%;
    margin: auto;
    padding-left:  50px;
}
.fotter-section .sectionfotter-content .sectionfotter-content-items a{
    width: 43px;
    height: 43px;
    margin: 0px 6px;
    background-color: var(--color1);
    border-radius: 4px;
    margin-top: 20px;
}    
.fotter-section .sectionfotter-content .sectionfotter-content-items a .sectionfotter-icons{
    color: var(--color2);
}
.fotter-section .sectionfotter-content .fotter-text{
    width:70%;
    margin: 30px auto;
}
.fotter-section .sectionfotter-content .fotter-text p , .fotter-section .sectionfotter-content .fotter-text a{
    display: inline;
    word-spacing: 1px;
    font-size: 13px;
    color: var(--color2);
}
.fotter-section .sectionfotter-content .fotter-text a{
    color: var(--color1);
}
